* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Header {
    width: 1085px;
    height: 400px;
    position: relative;
    margin-bottom: 150px;

    h1 {
        width: 600px;
        height: 105px;
        margin: 0 auto;
        text-align: center;
        color: rgb(36, 36, 221);
        font-size: 60px;
        margin-top: 100px;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    h2 {
        width: 600px;
        height: 105px;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        color: rgb(65, 65, 216);
        font-family: Arial, sans-serif;
    }
}

.fon {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.nav {
    width: 1085px;
    height: 100px;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    img {
        width: 90px;
        height: 90px;
        margin: 20px;
    }

    h3 {
        text-align: justify;
        margin-top: 40px;
    }

}

.Main {
    width: 1085px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    button {
        width: 727px;
        height: 142px;
        margin: auto;
        padding: 10px 20px;
        background-color: #255385;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        margin-top: 50px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 1);

    }

    button:hover {
        background-color: #d1212a;
    }

    img {
        width: 727px;
        height: 756px;
        position: absolute;
        z-index: -1;
        right: 0;
        top: -150px;
    }

    img:last-child {
        width: 250px;
        height: auto;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 450px;
    }
}

.footer {
    width: 1085px;
    height: auto;
}

.search {
    width: 1085px;
    height: 250px;
    background-color: rgb(21, 21, 117);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 806px;
        height: 131px;
        margin: auto;
        background-color: rgb(21, 21, 117);
        border: 5px solid white;
        cursor: pointer;
        border-radius: 10px;
    }

    button img {
        width: 67px;
        height: auto;
        margin-right: 40px;
    }

    button span {
        font-size: 40px;
        color: white;
    }
}

.service {
    width: 1085px;
    height: auto;

    img {
        width: 1085px;
        height: auto;
    }
}


form {
    max-width: 1085px;
    padding: 20px;
    margin-top: -200px;
}


label {
    display: block;
    margin-bottom: 0;
    font-size: 35px;
    margin-left: 150px;
}

input[type="text"],
input[type="tel"],
input[type="submit"] {
    width: 700px;
    height: 100px;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 150px;
}

input[type="submit"] {
    background-color: rgb(50, 50, 199);
    color: white;
    cursor: pointer;
    width: 250px;
    height: 80px;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 350px;
    transition: background-color 0.3s ease;
    font-size: 25px;
}

input[type="submit"]:hover {
    background-color: rgb(199, 18, 18);
}

.Main1 {
    width: 1085px;
    height: auto;

    img {
        margin-top: -250px;
        width: 927px;
        height: 220px;
        margin-left: 70px;
    }

    .service {
        width: 1085px;
        height: auto;

        img {
            width: 1085px;
            height: auto;
            margin-left: 0;
            margin-top: -350px;
        }
    }
}

.data {
    display: flex;
    margin-left: 100px;
    font-size: 30px;
    gap: 100px;
    margin-bottom: 250px;
}

.phone-number,
.data .email {
    color: blue;
    cursor: pointer;
}

.fon1 img {
    width: 100%;
    height: 2200px;
    position: absolute;
    z-index: -1;
}

.home img {
    position: absolute;
    margin-top: 50px;
    cursor: pointer;
    width: 200px;
    height: auto;
}

.Header1 {
    width: 1085px;
    height: auto;
    position: relative;
    padding: 20px;

    img {
        width: 1085px;
        height: auto;
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
    }

    h1 {
        text-align: center;
        margin: 0 auto;
    }
}

.home1 img {
    position: absolute;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
    height: auto;
}

table {
    width: 1085px;
    border-collapse: collapse;
    margin-top: 100px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th[colspan="6"] {
    text-align: center;
}

#searchResults {
    display: none;
    margin-top: 20px;
}

.find {
    input[type="text"] {
        width: 300px;
        height: auto;
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 200px;
        margin-left: 500px;

    }

    input[type="button"] {
        width: 100px;
        height: 40px;
        background-color: rgb(21, 21, 117);
        border: 2px solid white;
        cursor: pointer;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        padding: 5px;
    }
}

@media screen and (max-width: 430px) {
    .Header1 {
        width: 430px;
        height: auto;
        position: relative;
        padding: 20px;


        img {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: -1;
            right: 0;
            top: 0;
        }

        h1 {
            text-align: center;
            margin: 0 auto;
            font-size: 10px;
        }
    }

    .home1 img {
        position: absolute;
        margin-top: 20px;
        cursor: pointer;
        width: 100px;
        height: auto;
    }

    .find {
        input[type="text"] {
            width: 100px;
            height: 20px;
            padding: 10px;
            font-size: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 200px;
            margin-left: 150px;

        }

        input[type="button"] {
            width: 50px;
            height: 20px;
            background-color: rgb(21, 21, 117);
            border: 2px solid white;
            cursor: pointer;
            border-radius: 10px;
            color: white;
            font-size: 10px;
            padding: 5px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 50px;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 1px;
        text-align: left;
        font-size: 10px;
    }

    th {
        background-color: #f2f2f2;
        text-align: center;
        font-size: 10px;
    }

    .Header {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 100px;

        h1 {
            width: 300px;
            height: auto;
            margin-left: 40px;
            margin-top: -10px;
            text-align: center;
            color: rgb(36, 36, 221);
            font-size: 30px;
            font-weight: bold;
            font-family: Arial, sans-serif;
        }

        h2 {
            width: 300px;
            height: auto;
            margin-left: 40px;
            text-align: center;
            font-size: 20px;
            color: rgb(65, 65, 216);
            font-family: Arial, sans-serif;
        }

        .home img {
            position: absolute;
            margin-top: -10px;
            cursor: pointer;
            width: 80px;
            height: auto;
        }
    }

    .Main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;

        img {
            display: none;
        }

        button {
            width: 300px;
            height: 100px;
            margin: auto;
            padding: 10px 20px;
            background-color: #255385;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            border-radius: 20px;
            cursor: pointer;
            border: none;
            margin-top: 50px;
            box-shadow: 0 12px 24px rgba(0, 0, 0, 1);

        }

        button:hover {
            background-color: #d1212a;
        }
    }


    .fon {
        width: 430px;
        height: auto;
        position: absolute;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .nav {
        width: 50%;
        height: 100px;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        width: 30%;


        img {
            width: 50px;
            height: 50px;
            margin: 15px;
            margin-right: 200px;
        }

        h3 {
            display: none;
        }



    }

    .footer {
        width: 100%;
        height: auto;
    }

    .search {
        width: 100%;
        height: 150px;
        background-color: rgb(21, 21, 117);
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 300px;
            height: 100px;
            margin: auto;
            background-color: rgb(21, 21, 117);
            border: 5px solid white;
            cursor: pointer;
            border-radius: 10px;
        }

        button img {
            width: 50px;
            height: auto;
            margin-right: 40px;
        }

        button span {
            font-size: 30px;
            color: white;
        }
    }

    .service {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

}

@media screen and (max-width: 390px) {
    .find {
        input[type="text"] {
            width: 100px;
            height: 20px;
            padding: 10px;
            font-size: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 200px;
            margin-left: 120px;

        }
    }
}